{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header_page %}Подтверждение регистрации{% endblock %}

{% block fos_user_content %}
{% endblock fos_user_content %}
{% block javascripts %}
    <script type="text/javascript">
        window.location.href = "http://localhost:8000";
    </script>
{% endblock %}