{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="container"
         style="text-align: center;padding-top: 20px; margin-top: 20px; width: 450px; background-color: #5eb5e0; border-radius: 15px">

        <h3>Регистрация</h3>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="bnt btn-lg btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
        <a class="btn btn-primary" style="margin: 20px"
           href="{{ path('fos_user_security_login') }} ">Уже регистрировались?</a>
    </div>
{% endblock fos_user_content %}