{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" style="margin-top: 100px">
        <div class="col-md-12" style="text-align: center; margin-bottom: 40px">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ news.title }}</h3>
                    <h3>{{ news.description }}</h3>
                    <span style="font-weight: bold; font-size: 20px"><a
                            href="{{ path('user_profile', {id: news.author.id}) }}">{{ news.author }}</a></span><br>
                    <span>Дата создания: {{ news.getCreatedDate().format('Y-m-d') }}</span><br>
                    <span>Время создания: {{ news.getCreatedDate().format('H:i:s') }}</span><br>
                    <span>Дата публикации: {{ news.getPublishedDate().format('Y-m-d') }}</span><br>
                    <span>Время публикации: {{ news.getPublishedDate().format('H:i:s') }}</span><br>
                    <hr>
                    {% if app.user %}
                        {% if not quality %}
                            <a class="btn btn-success"
                               href="{{ path('news_rating', {id: news.id, criterion: 1, assessment: 1}) }}">Качественно</a>
                            <a class="btn btn-danger"
                               href="{{ path('news_rating', {id: news.id, criterion: 1, assessment: -1}) }}">Некачественно</a>
                        {% endif %}
                        {% if not relevance %}
                            <a class="btn btn-success"
                               href="{{ path('news_rating', {id: news.id, criterion: 2, assessment: 1}) }}">Актуально</a>
                            <a class="btn btn-danger"
                               href="{{ path('news_rating', {id: news.id, criterion: 2, assessment: -1}) }}">Неактуально</a>
                        {% endif %}
                        {% if not satisfaction %}
                            <a class="btn btn-success"
                               href="{{ path('news_rating', {id: news.id, criterion: 3, assessment: 1}) }}">Доволен</a>
                            <a class="btn btn-danger"
                               href="{{ path('news_rating', {id: news.id, criterion: 3, assessment: -1}) }}">Недоволен</a>
                        {% endif %}
                </div>
            </div>
        </div>
                        </div>
        {{ form(form) }}
    {% endif %}
    <div class="comments">
        <h3 class="title-comments">Комментарии ({{ count }})</h3>
        <ul class="media-list">
            {% for comment in comments %}
                <li class="media">
                    <div class="media-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="author"><span style="font-weight: bold; font-size: 20px"><a
                                                href="{{ path('user_profile', {id: comment.author.id}) }}">{{ comment.author }}</a></span><br>
                                </div>
                                <div class="metadata">
                                    <span class="date">{{ comment.date.format('Y-m-d') }}</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="media-text text-justify">{{ comment.comment }}</div>
                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger"
                           href="{{ path('remove_comment', {id: comment.id}) }}">Удалить</a>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
