{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" style="margin-top: 100px">
        {% for new in news %}
            <div class="col-md-12" style="text-align: center; margin-bottom: 40px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ new.title }}</h3>
                        <h3>{{ new.description }}</h3>
                        <span style="font-weight: bold; font-size: 20px"><a
                                    href="{{ path('user_profile', {id: new.author.id}) }}">{{ new.author }}</a></span><br>
                        <span>Дата создания: {{ new.getCreatedDate().format('Y-m-d') }}</span><br>
                        <span>Время создания: {{ new.getCreatedDate().format('H:i:s') }}</span><br>
                        <a class="btn btn-success"
                           href="{{ path('publish_news', {id: new.id}) }}">Опубликовать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}