<div class="header" style="border-bottom: 3px #868686 solid; -webkit-box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);
box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);">
    <a style="margin-left: 10px" href="{{ path('homepage') }}"><span><img src="{{ asset('Logo/logo.png') }}" style="width: 75px"></span></a>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <span style="float: right; margin-top: 20px; padding-right: 10px">
        <a class="btn btn-primary" href="{{ path('homepage') }}">Главная</a>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('sonata_admin_dashboard') }}">Перейти в админку</a>
                <a class="btn btn-primary" href="{{ path('unpublished_news') }}">Неопубликованные новости</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('add_news') }}">Добавить новость</a>
            <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Выход</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Войти</a>
            <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
        {% endif %}
    </span>
</div>
