{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .pagination li{
            margin: 0 20px;
        }
    </style>
    <hr>
    {{ form(form) }}
    <div class="row">
        {% for new in news %}
            <div class="col-md-3" style="text-align: center; margin-bottom: 40px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ new.title | truncate(5)}}</h3>
                        <h3>{{ new.description | truncate(10)}}</h3>
                        <span style="font-weight: bold; font-size: 20px"><a href="{{ path('user_profile', {id: new.author.id}) }}">{{ new.author }}</a></span><br>
                        <span>Дата создания: {{ new.getCreatedDate().format('Y-m-d')}}</span><br>
                        <span>Время создания: {{ new.getCreatedDate().format('H:i:s')}}</span><br>
                        <span>Дата публикации: {{ new.getPublishedDate().format('Y-m-d') }}</span><br>
                        <span>Время публикации: {{ new.getPublishedDate().format('H:i:s') }}</span><br>
                        <p><a href="{{ path('news_details', { id: new.id }) }}" class="btn btn-primary" role="button">Подробнее</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
{% endblock %}