{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Страница авторизации{% endblock %}

{% block header_page %}Log in{% endblock %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
<div class="container"
     style="text-align: center;padding-top: 20px; margin-top: 20px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
    <h3>Авторизация</h3>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <span id="reauth-email" class="reauth-email"></span>
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" autofocus="" class="form-control"
               placeholder="Username" value="" required="required"/>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password"
               required="required"/>
        <input class="btn btn-lg btn-primary" style="margin-top: 20px"
               type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </form>
        <a class="btn btn-primary" style="margin: 20px"
           href="{{ path('fos_user_registration_register') }} ">Еще не регистрировались?</a>
</div>
    {% endblock fos_user_content %}
