{% extends 'base.html.twig' %}
{% block body %}
    <hr>
    <div class="caption">
        <p> Логин: {{ user.username }} </p>
        <p> Email: {{ user.email }} </p>
        <p> Полное имя: {{ user.fullName }} </p>
        <p> Рейтинг: {{ rating }}</p>
    </div>
{% endblock %}